html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

.bookstore { /* контейнер, определяющий максимальную ширину сетки*/
  margin-right: auto;
  margin-left: auto;
}

.button_main {
  height: 40px;
  width: 100px;
  border: 0;
  //outline: none;
  background-color: orange;
}

@media (min-width: 1281px) {
  
  .bookstore { 
    max-width: 1140px;
  }
  
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .bookstore {
    max-width: 1024px;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .bookstore { 
    max-width: 768px;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .bookstore { 
    max-width: 481px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .bookstore { 
    max-width: 320px;
  }
}