.book_item {
  width: 240px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.book_properties {
  margin: 10px 0;
  padding: 0 20px;
  text-align: center;
  font-size: 15px;
}

.book_price {
  margin: 5px;
  color: red;
  font-size: 12px;
  text-align: center;
}

.button_buy {
  height: 40px;
  width: 100px;
  border: 0;
  background-color: transparent;
  font-size: 12px;
}

.button_delete {
  height: 40px;
  width: 100px;
  border: 0;
  background-color: transparent;
  font-size: 12px;
}
  
  @media (min-width: 1281px) {
   
    .book_item {
      width: 285px;
    }
    
  }
  
  @media (min-width: 1025px) and (max-width: 1280px) {

  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
 
  }
  
  @media (min-width: 481px) and (max-width: 767px) {

  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    
  }